@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
    font-family: 'DynaPuff', cursive;
    text-align: center;
    align-items: center;
    background-color: rgb(227, 252, 255);
}

.game-heading {
    font-size: 50px;
}

img {
    margin: 30px;
}

button{
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  font-family: 'DynaPuff', cursive;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 16px 24px;
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

